<div class="intro">
  <div class="texts container">
    <h1>Life Insurance You'll Love Really.</h1>
    <h3>Instant. Simple. Smart.</h3>
  </div>
  <div class="image container">
    <img src="assets/decorate.png" alt="family" />
  </div>
</div>
<div class="menu">
    <div class="row head">
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-10">
      <div class="col-md-3 icon"><i class="far fa-file fa-7x"></i></div>
      <div><h2 id="start">Start or Track a <span id="claim">Claim</span></h2>
      <p id="paragraphtag">
        You can file a claim or check the status of an existing claim.
      </p>
      
      
      <div class="d-flex">
        <button id="buttons">File a Claim</button>
        <button id="buttons">Track a Claim</button>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="bluecard">
        <h2 id="header">Professional Liability</h2>
        <p>
          <b>
            This type of tailored business insurance coverage provides
            professionals with a policy that fits their industry's unique risks.
          </b>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bluecard">
        <h2 id="header">Financial Services</h2>
        <p id="para">
          <b>
            We offer custom business insurance protection through Alico FS.
            Alico FS provides protection to firms facing greater scrutiny
          </b>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bluecard">
        <h2 id="header">Preferred Cash Rewards</h2>

        <p>
          <b>
            We offer to Earn unlimited 1.5% cash back on every purchase. So
            don’t waste your time to think more and more about insurance.
          </b>
        </p>
      </div>
    </div>
  </div>
</div>
