<div class="status">
<h1>Your Bill</h1>
<div class="info">
    <div class="table">
        <div class="heading">Payment Status</div>
        <div class="desc">{{this.data.getTrack().paymentStatus}}</div>
    </div>
    <hr>
    <div class="table">
        <div class="heading">Premium Due</div>
        <div class="desc">{{this.data.getTrack().premiumDue}}</div>
    </div>
    <hr>
    <div class="table">
        <div class="heading">Premium Paid</div>
        <div class="desc">{{this.data.getTrack().premiumPaid}}</div>
    </div>
    <hr>
    <div class="table">
        <div class="heading">Premium Paid Date</div>
        <div class="desc">{{this.data.getTrack().premiumPaidDate}}</div>
    </div>
    
</div>
</div>