  <div class="result row">
    <div class="col-sm-6">
      <form>
        <label> Member Id: </label>
        <input
          type="number"
          placeholder="Enter Member Id"
          class="form-control"
        />

        <label> Hospital: </label>
        <select class="form-control">
          <option value="">Select Hospital</option>
        </select>

        <label> Remarks: </label>
        <input type="text" placeholder="Enter Remarks" class="form-control" />
      </form>
    </div>
    <div class="col-sm-6">
      <form>
        <label> Policy Name: </label>
        <select class="form-control">
          <option value="">Select Policy Name</option>
        </select>

        <label> Benefit Name: </label>
        <select class="form-control">
          <option value="">Select Benefit Name</option>
        </select>

        <label> Claimed Amount: </label>
        <input
          type="number"
          placeholder="Claimed Amount"
          class="form-control"
        />
      </form>
    </div>

    <div align="center">
      <button id="submitbutton">Submit</button>
    </div>
  </div>

