  <div class="result row">
    <div class="col-sm-6">
      <form >
        <label> Claim Id: </label>
        <input
          [(ngModel)]="details.claimId"
          name="claimId"
          type="text"
          placeholder="Enter Claim Id"
          class="form-control"
        />
        <label> Hospital Id: </label>
        <select [(ngModel)]="details.hospitalId" name="hospitalId" class="form-control">
          <option value="H101">Apollo</option>
          <option value="H102">SRV</option>
          <option value="H103">AIIMS</option>
          <option value="H104">SMS</option>
        </select>
        <label> Member Id: </label>
        <select [(ngModel)]="details.memberId" name="memberId" class="form-control">
          <option value="M101">Member 1</option>
          <option value="M102">Member 2</option>
          <option value="M103">Member 3</option>
          <option value="M103">Member 4</option>
          <option value="M103">Member 5</option>
        </select>




        <label> Total Amount: </label>
        <input
        [(ngModel)]="details.totalAmount"
          name="totalAmount"
          type="number"
          placeholder="Total Amount"
          class="form-control"
        />
      </form>
    </div>
    <div class="col-sm-6">
      <form>
        <label> Policy Name: </label>
        <select [(ngModel)]="details.policyId" name="policyId" class="form-control">
          <option value="P101">PREMIUM</option>
          <option value="P102">GOLD</option>
          <option value="P103">CONQURER</option>
        </select>
        <label> Benefit Name: </label>
        <select [(ngModel)]="details.benefitsId" name="benefitsId" class="form-control">
          <option value="B101">Rs 12000 corona medical coverage</option>
          <option value="B102">Rs 20000 maternity medical coverage</option>
          <option value="B103">Rs 50000 accidental medical coverage</option>
          <option value="B104">Rs 25000 disability medical coverage</option>
          <option value="B105">Rs 60000 family medical coverage</option>
          <option value="B106">Rs 100000 serious illness coverage</option>
        </select>

        <label> Claimed Amount: </label>
        <input
          [(ngModel)]="details.claimedAmount"
          name="claimedAmount"
          type="number"
          placeholder="Claimed Amount"
          class="form-control"
        />
      </form>
    </div>
    <div align="center">
      <button id="submitbutton" (click)="submit()">Submit</button>
    </div>
  </div>

