<div class="track">
<h1>View your bill here</h1>
<div class="inp">
<h2>Enter Member Id</h2>
<form [formGroup]="trackDetails">
    <div>
        <input required formControlName="mid" type="text" name="mid" id="mid" placeholder="Member ID">
    </div>
     <div>
        <input required formControlName="pid" type="text" name="pid" id="pid" placeholder="Policy ID">
    </div>
    <div class="btn">
        <button id="button" class="button" (click)="process()">Submit</button>
    </div>
</form>
</div>
</div>  