<div class="status">
<h1>Your Claim Status</h1>
<div class="info">
    <div class="table">
        <div class="heading">Claim ID</div>
        <div class="desc">Description goes here</div>
    </div>
    <hr>
    <div class="table">
        <div class="heading">Claim Status</div>
        <div class="desc">Description goes here</div>
    </div>
    <hr>
    <div class="table">
        <div class="heading">Description</div>
        <div class="desc">Description goes here</div>
    </div>
    
</div>
</div>